header
{
    width: 100%;
    max-width: 100%;
    background-color: green;
}
header p
{
    text-align: left;
    font-size: large;
}
.container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 38vw;
    gap: 1em;

}
.container div
{
    background-color: red;
    text-align: center;
    font-size:xx-large;
    padding: 1em;
    font-weight: bold;
    margin-bottom: 0.2em;
}
footer
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1em;
}
.footer1
{
    text-align: right;
}
.footer2
{
    text-align: left;
}
footer div
{
    background-color: yellow;
    font-size: large;
    width: 50vw;
}
@media(width < 768px)
{
    header
    {
        background-color: aqua;
    }
    .container
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 1em;
    }
    #div1
    {
        text-align: left;
    }
    #div2
    {
        text-align: right;
    }
    #div3
    {
        text-align: center;
        grid-row: 2;
        grid-column: 1/3;
        background-color: green;
    }
    footer
    {
        display: flex;
        flex-direction: column;
    }
    footer div
    {
        width: 100%;
    }
    .footer1
    {
        text-align: center;
    }
    .footer2
    {
        text-align: center;
    }
}

@media(width < 600px)
{
    header
    {
        background-color: sandybrown;
    }
    header p
    {
        text-align: center;
    }
    .container
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 1em;
    }
    #div1
    {
        text-align: left;
        grid-row: 1;
        grid-column: 1/3;
        background-color: red;
    }
    #div2
    {
        text-align: center;
        grid-row: 2;
        grid-column: 1/3;
        background-color: aqua;
    }
    #div3
    {
        text-align: right;
        grid-row: 3;
        grid-column: 1/3;
        background-color: red;
    }
    footer
    {
        display: flex;
        flex-direction: column;
    }
    footer div
    {
        width: 100%;
    }
    .footer1
    {
        text-align: center;
    }
    .footer2
    {
        text-align: center;
    }

}