.precio
{
	color:blue;
	font-weight:bold;
}
#titulo
{
	text-align:center;
}
#grud
{
	display:grid;
	 grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px auto;
	gap:10px;
}
#community
{
	border:blue Double 4px;
	grid-row: 1/3;
    grid-column:1;
	text-align:center;
	border-radius:10px;
}
#professional
{
	border:blue Double 4px;
	grid-row: 1/3;
    grid-column:2;
	text-align:center;
	border-radius:10px;
}
#enterprise
{
	border:blue Double 4px;
	grid-row: 1/5;
    grid-column:3;
	text-align:center;
	border-radius:10px;
}
#prueba
{
	border:blue Double 4px;
	grid-row: 4;
    grid-column:1/3;
	text-align:center;
	border-radius:10px;
	background-color:blue;
	color:white;
}