h1
{
	color: white;
	margin-left: 17em;
}
li 
{
	padding: 0.7em;
	font-weight: bold;
}
html
{
	background-color: black;
}
form
{
	width: 40%;
	background-color: #D1C6EF;
	margin-left: 25em;
}
form > ol 
{
	list-style-type: upper-roman;
}
form > ol > li 
{
	padding-top: 2em;
}
ul 
{
	list-style-type: square;
}
fieldset
{
	margin: 0.7em;
}
input.subres
{
	margin-left: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}