@mixin borde
{
    border: 1px solid black;
    padding: 0.2em;
}
#home
{
    @include borde();
    border-radius: 50px;
    background-color: purple;
}
#not
{
    @include borde();
    border-top-left-radius: 30px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: orange;
}
#who
{
    @include borde();
    border-top-left-radius: 50px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 50px;
    background-color: rgb(225, 0, 255);
}
#us
{
    @include borde();
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: gray;
}
#where
{
    @include borde();
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color:cyan;
}
div p
{
    Display: inline;
}
p
{
    font-size: 50px;
}
p:hover
{
    color: white;
    cursor: pointer;
}
