p
{
	font-family:  Trebuchet MS, Arial, sans-serif;
	font-size: 16pt;
	font-weight: 900;
	font-style: italic;
	text-decoration: underline;
	text-transform: uppercase;
}

h1
{
	font-size: 22pt;
	text-shadow: 2px 3px red;
}