@media (width < 768px)
{
    div.main
    {
        display: flex;
        flex-direction: column;
    }
}

@media (width >= 768px)
{
    div.main
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (prefers-color-scheme: dark)
{
    :root
    {
        --bg-color: black;
        --text-color: white;
        --bg-color-hover: #8bb9fe;
        --text-color-hover: #eee;
        --bg-ej-color: #6710f220;
        --bg-main: rgba(0, 139, 139, 0.91);
    }
}