$colorTexto: #eee;
$colorTextoPasar: #fff;
$colorFondo: #666;
$colorFondoPasar: #888;

@import "mixin";

@keyframes iluminar
{
    0%
    {
        @include color;
    }
    100%
    {
        @include colorPasar;
    }
}

body
{
    margin: 0px;
    padding: 0px;
}

header
{
    padding: 12px 30px 12px 30px;
    font-size: 1.8em;
    background-color: $colorTexto;
    font-weight: bold;
    text-shadow: 1px 1px 2px #aaa;
    font-family:  Georgia, 'Times New Roman', Times, serif;
}

li.categoria
{
    float: left;

    &>a 
    {
        @include transicion(height,0.5,linear);
    }

    &:hover a 
    {
        padding: 10px 20px 10px 20px;
    }

    &:hover ul
    {
        height: 100px;
    }

}

ul.submenu
{
    @include transicion(height,0.5,linear);
    position: absolute;
    height: 0px;
    overflow: hidden;
}

nav 
{
    position: absolute;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;

    ul
    {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }

    &>ul
    {
        width: 100%;
        height: 32px;
        @include color;
    }

    a 
    {
        @include color;
        text-decoration: none;
        width: 160px;
        padding: 7px 20px 0px 0px;
        display: block;
        text-align: center;
        cursor: pointer;

        &:hover
        {
            @include colorPasar;
            @include animacion(iluminar,0.4,linear);
        }
    }
}

footer
{
    @include color;
    @include box-sizing(border-box);
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 5px;
}

