@mixin color 
{
    color: $colorTexto;
    background-color: $colorFondo;
}

@mixin colorPasar
{
    color: $colorTextoPasar;
    background-color: $colorFondoPasar;
}

@mixin box-sizing ($x)
{
    -webkit-box-sizing: $x;
    -moz-box-sizing: $x;
    box-sizing: $x;
}

@mixin transicion($property,$duration,$timing:linear)
{
    -webkit-transition: $property $duration $timing;
    -moz-transition: $property $duration $timing;
    transition: $property $duration $timing;
}

@mixin animacion($name,$duration,$timing:linear)
{
    animation: iluminar 0.4 linear;
    -webkit-animation: iluminar 0.4 linear;
    -moz-animation: iluminar 0.4 linear;
}