@keyframes iluminar
{
    0%
    {
        background-color: #666;
        color: #eee;
    }
    100%
    {
        background-color: #888;
        color: #fff;
    }
}

body
{
    margin: 0px;
    padding: 0px;
}

header
{
    padding: 12px 30px 12px 30px;
    font-size: 1.8em;
    background-color: #eee;
    font-weight: bold;
    text-shadow: 1px 1px 2px #aaa;
    font-family:  Georgia, 'Times New Roman', Times, serif;
}

nav 
{
    position: absolute;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

nav>ul
{
    width: 100%;
    height: 32px;
    color: #eee;
    background-color: #666;
}
li.categoria
{
    float: left;
}

nav a 
{
    color: #eee;
    background-color: #666;
    text-decoration: none;
    width: 160px;
    padding: 7px 20px 0px 0px;
    display: block;
    text-align: center;
    cursor: pointer;
}

nav a:hover
{
    color: #fff;
    background-color: #888;
    animation: iluminar 0.4 linear;
    -webkit-animation: iluminar 0.4 linear;
    -moz-animation: iluminar 0.4 linear;
}

ul.submenu
{
    -webkit-transition: height 0.5 linear;
    -moz-transition: height 0.5 linear;
    transition: height 0.5 linear;
    position: absolute;
    height: 0px;
    overflow: hidden;
}

li.categoria>a 
{
    transition: padding 0.5 ease-out;
    -webkit-transition: padding 0.5 ease-out;
    -moz-transition: padding 0.5 ease-out;
}

li.categoria:hover a 
{
    padding: 10px 20px 10px 20px;
}

li.categoria:hover ul
{
    height: 100px;
}

footer
{
    color: #eee;
    background-color: #666;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 5px;
}