*
{
	background-color: #8B0000;
	font-family: 'Bungee Spice', cursive;
	font-weight: 400;
	font-size: 12pt;
	text-align: justify;
	line-height: 1.2em;
}

h1
{
	font-family: Arial;
	font-size: 24pt;
	color: #FF0000;
}

h2
{
	font-family: Arial;
	font-size: 20pt;
	color: #FF4500;
}

h3
{
	font-family: Arial;
	font-size: 16pt;
	color: #FF6347;
}

strong
{
	color: #DC143C;
}