body {
	/*width: 100%;
	height: 100%;*/

}

section {
	width: 30%;
	height: 40%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border: solid 5px blue;
	border-radius: 10px;
}

formulario_login
{
			align-self: center;
}

h2 {
	margin-bottom: 30px;
	color: blue;
}

.botonFormulario {
	margin-top: 30px;
}

#enlaceRegistro a
{
	text-decoration: none;
	color: write;
}