// style.scss
@use 'scss/colors';
@use 'scss/mixin';
@use 'scss/menu';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&display=swap');



.rubik-vinyl-regular {
  font-family: "Rubik Vinyl", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

header {
  @include mixin.header-footer;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  font-family: 'Rubik Vinyl';
}

footer {
  @include mixin.header-footer;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
}

