$destacado1 : #FF8000;
$destacado2 : #2E5F64;

#primero p
{
    &.destacado
    {
        color: $destacado1;
        font-size: 1.6rem;
        text-align: center;
        padding: 6px;
    }
}
    

#segundo p
{
    &.destacado
    {
        color: $destacado2;
        font-size: 1.4rem;
        text-decoration: underline;
        padding: 5px;
    }
    
    &:not(.destacado)::first-line
    {
        font-style: italic;
    }
}
#parrafos
{
    padding: 20px;
    text-align: right;
}