#primero p.destacado {
  color: #FF8000;
  font-size: 1.6rem;
  text-align: center;
  padding: 6px;
}

#segundo p.destacado {
  color: #2E5F64;
  font-size: 1.4rem;
  text-decoration: underline;
  padding: 5px;
}
#segundo p:not(.destacado)::first-line {
  font-style: italic;
}

#parrafos {
  padding: 20px;
  text-align: right;
}

/*# sourceMappingURL=index.css.map */
