header
{
	background-color:#84250C;
	color:white;
}
nav
{
	text-align:right;
}
nav ul li
{
	display:inline;
	padding:20px;
}
footer
{
	background-color:#84250C;
	color:white;
	text-align:center;
	padding:10px;
	clear:left;
}
#principal
{
	margin-top:30px;
	margin-left:20%;
	margin-right:20%;
}
main
{
	display:grid;
	grid-template-columns: 1fr;
		margin-bottom:150px;
	
}
#oferta
{
	border-radius:10px;
	border:1px solid black;
	padding:20px;
	
}
aside
{
	margin-left:20px;
	grid-row: 1;
	grid-column: 2;
}