#div1
{
	background-color:blue;
	border:solid 2px gray;
	margin:0px 10px 10px 0px;
	width:50%;
	height:100px;
	float:left;
}

#div2
{
	background-color:LightYellow;
	width:20%;
	height:50px;
	float:left;
}

#div3
{
	background-color:Tomato;
	border:black Double 1px;
	width:20%;
	height:50px;
	float:left;
	clear:left;
}