html
{
	background-color: #ece8e8;
}
body
{
	margin: 1.25em;
	background-color: #991e1e;
}
header
{
	background-color: #c2c2f4;
	color: yellow;
}
main
{
	
	margin: 2em;
	display: grid;
}
.link
{
	background-color: #76a13a;
	color: #991e1e;	
	text-align: left;
	border: 1px solid black;
	margin: 1em;
}
.text 
{
	color: white;
}
#maincontent div
{
	display: grid;
	grid-template-columns: 1fr 4fr;
}
footer
{
	background-color: #76a13a;
	text-align: left;
}
/*nav*/
nav 
{
	text-align: center;
}
nav p:first-child
{
	padding-left: 3em;
}
nav p:last-child
{
	padding-right: 1em;
}
nav p:Active
{
	 background-color:#0b3b17;
}
nav p:hover
{
	background-color: #90bc54;
}
nav p
{
	Display: inline;
	background-color: #709c34;
	color: white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	font-family: Verdana;
	font-size: 1.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}