/*header*/
header,footer
{
	text-align: center;
	background-color: #619aad;
	border-radius: 10px;
}
header h1
{
	padding: 0.5em;
	margin-bottom: 0em;
}
/*divs*/
div 
{
	background-image: linear-gradient(90deg, #8988ea, #e7e6f4 70%);
	margin-top: 1em;
	margin-bottom: 1em;
	border-radius: 10px;
	border: 1px solid gray;
}
div p 
{
	font-weight: bold;
	padding: 0.2em;
	padding-left: 1em;
}
div:first-child
{
	margin-left: 1em;
}
div:last-child
{
	margin-right: 1em;
}
div#div1
{
	grid-row: 1;
	grid-column: 1;
}
div#div2
{
	grid-row: 1;
	grid-column: 2;
	margin-bottom: 5em;
}
div#div3
{
	grid-row: 1;
	grid-column: 3;
	margin-bottom: 5em;
}
div#div4
{
	grid-row: 1;
	grid-column: 4;
	margin-bottom: 5em;
}
div#div1 a 
{
	background-color: #cfcef8;
	display: block;
	text-align: center;
	margin-left: 1em;
	margin-right: 1em;
	color: black;
	text-decoration: none;
	border: 1px solid gray;
}
div#div1 a:first-child
{
	margin-top: 2em;
}
main
{
	border-radius: 10px;
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 2fr;
}
/*footer*/
footer p
{
	margin-top: 0em;
	font-weight: bold;
}
footer p:first-child
{
	padding-top: 1em;
}
footer p:last-child
{
	padding-bottom: 1em;
}
@media(max-width: 800px)
{
	main
	{
		display: grid;
		grid-template-columns: 1fr;
	}
	div 
	{
		margin: 0em;
	}
	div#div1
	{
		grid-row: 1;
		grid-column: 1;
		padding: 1em;
		margin: 0em;
		margin-bottom: 0px;
	}
	div#div1 a 
	{
		display: inline;
	}
	div#div2
	{
		grid-row: 2;
		grid-column: 1;
		margin-bottom: 0px;
	}
	div#div3
	{
		grid-row: 3;
		grid-column: 1;
		margin-bottom: 0px;
	}
	div#div4
	{
		grid-row: 4;
		grid-column: 1;
		margin-bottom: 0px;
		margin-right: 0px;
	}
}
@media(max-width: 600px)
{
	header
	{
		display: none;
	}
}