*
{
	font-family: 'Play', sans-serif;
}
header
{
	background-color:#2E64FE;
	color:white;
	text-align:center;
	margin-right:80px;
}
header h1
{
	text-shadow:7px 5px black;
}
nav ul li
{
	display:inline;
	padding:20px;
}
main h2
{
	text-align:center;
	padding-bottom:25px;
}
#videotutoriales
{
	background-color:#d8cef6;
	float:left;
	border-radius:10px;
	padding:15px;
	margin:5px;
	width:40%;

}
#ofertas
{
	background-color:#819ff7;
	float:left;
	border-radius:10px;
	padding:15px;
	margin:5px;
	padding-bottom:38px;
	

}
#recursos
{
	background-color:#f5f6ce;
	float:left;
	border-radius:10px;
	width:25%;
	padding:15px;
	margin:5px;

}
footer
{
	background-color:#2E64FE;
	color:white;
	text-align:center;
	clear:left;
	margin-right:80px;
	padding-top:5px;
	padding-bottom:10px;
	
}
footer p
{
	line-height:0px;
}
article 
{

}