.cards-container
{
    display: flex;
    align-items: stretch;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: #eee;
    margin-left: 16.9em;
    margin-right: 16.9em;
    align-items: center;
    padding: 2em;
}
.card
{
    box-sizing: border-box;
    padding: 0%;
    display: flex;
    min-width: 10rem;
    max-width: 15rem;
    background-color: white;
    border-radius: 10px;
    margin: 0.5rem;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: 2px 1px 1px gray;
}
.card-img-top
{
    max-width: 100%;
    height: auto;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.card-body
{
    flex: 1;
    display: flex;
    padding: 0.5rem;
}
.card-footer
{
    padding: 0.5rem;
}
.card-title
{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    
}
.btn
{
    background-color: rgba(90, 190, 90, 80%);
    border-color: rgb(90, 190, 90);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bolder;
    width: 100%;
}
a
{
    text-decoration: none;
}
#drones
{
    
}