*
{
	text-align:center;
}
header
{
	border-bottom: black dotted 1px;
	font-size: 2em;
}
nav
{
	margin-top: 4em;
}
nav p
{
	display:inline;
	border:gray solid 1px;
	padding: 0.5em;
	font-size: 2em;
	margin-right: 0.25em;
	background-color: #f3f3f3;
	font-weight: bold;
}
img
{
	height: 25%;
	width: 25%;
	margin-top: 3em;
}
footer img
{
	height: 3em;
	width: 3em;
	margin-right: 1.5em;
}
p img
{
	height: 100%;
	width: 100%;
}