table
{
    border: 1px solid black;
    border-collapse: collapse;
}
td
{
    border: 1px solid black;
    padding: 5px;
}

#damdaw
{
    text-align: center;
}
.tabla
{
    background-color: gray;
    font-weight: bold;
}
.tabla2
{
    background-color: gray;
    color: darkgray;
}
.asig
{
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
}
.prof
{
    text-align: center;
    font-style: italic;
}
.aula
{
    text-align: right;
    font-size: 0.8em;
}
span
{
    padding: 1px;
}
.diw
{
    background-color: orange;
}
.dwc
{
    background-color: blue;
}
.vacio
{
    border: none;
}
.finbot
{
    border-bottom: 1px solid black;
}