*
{
	font-family: 'Play', sans-serif;
}
body
{
	font-size:1em;
}
header
{
	background-color:#2E64FE;
	color:white;
	text-align:center;
	margin-right:5em;
}
header h1
{
	text-shadow:7px 5px black;
}
nav ul li
{
	display:inline;
	padding:1.25em;
}
main h2
{
	text-align:center;
	padding-bottom:1.5625em;
}
#videotutoriales
{
	background-color:#d8cef6;
	float:left;
	border-radius:0.625em;
	padding:0.9375em;
	margin:0.3125em;
	width:40%;

}
#ofertas
{
	background-color:#819ff7;
	float:left;
	border-radius:0.625em;
	padding:0.9375em;
	margin:0.3125em;
	padding-bottom:2.375em;
	

}
#recursos
{
	background-color:#f5f6ce;
	float:left;
	border-radius:0.625em;
	width:25%;
	padding:0.9375em;
	margin:0.3125em;

}
footer
{
	background-color:#2E64FE;
	color:white;
	text-align:center;
	clear:left;
	margin-right:5em;
	padding-top:0.3125em;
	padding-bottom:0.625em;
	
}
footer p
{
	line-height:0px;
}
@media(max-width: 992px)
{
	#recursos
	{
		display: none;
	}
	
	#ofertas
	{
		width:40%;
		padding-bottom: 10.5em;
	}
	
	#videotutoriales
	{
		margin-left: 1.3em;
		padding-bottom: 3.3em;
	}
}

@media (max-width: 768px)
{
	#ofertas
	{
		margin-left: 0.8em;
		clear:left;
		width:82%;
	}
	#videotutoriales
	{
		width:82%;
		margin-left: 0.8em;
	}
}