@import url(src/css/variables.css);
@import url(src/css/media.css);

@keyframes rotate {
    0%
    {
        transform: rotate(0deg)
    }
    25%
    {
        transform: rotate(90deg)
    }
    50%
    {
        transform: rotate(180deg)
    }
    75%
    {
        transform: rotate(270deg)
    }
    100%
    {
        transform: rotate(360deg)
    }
    
}

@keyframes cambia-color {
    from{background-color: aquamarine;}
    to{background-color: rgb(13, 75, 75);}
    
}

body
{
    margin: 0px;
    display: flex;
    flex-direction: column;
}
header,footer
{
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    align-items: center;
}

header h1
{
    margin-bottom: 10px;
}
nav
{
    display: flex;
    align-items: center;
    gap: 4px;
}
nav a
{
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    max-width: 100%;
}
nav a:hover
{
    background-color: var(--bg-color-hover);
}
footer
{
    width: 100%;
    max-width: 100%;
    margin: 5px;
    text-align: center;
    position: fixed;
    bottom: 0px;
}
span a
{
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}
main
{
    background-color: var(--bg-main);
    color: var(--text-color);
    gap: 10px;
}
.main p
{
    background-color: var(--bg-ej-color);
    border-radius: 5px;
}
.main p:first-child
{
    grid-column: 2/4;
}
.main p:first-child:hover
{
    grid-column: 1/6;
    background-color: orange;
}
.main p:first-child + p
{
    grid-column: 3/5;
    grid-row: 2;
}
.main p:first-child + p + p
{
    grid-column: 2;
    grid-row: 2/4;
    
}
.main p:first-child + p + p:hover
{
    animation: rotate 3s;
}
.main p:first-child + p + p + p
{
    grid-column: 4/6;
    grid-row: 3;
    animation: cambia-color 5s linear 2s 3;
}