body
{
    background-color: #fafafa;
    font-family: "Noto Sans", sans-serif;
}
div
{
    
    height: 400px;
    width: 600px;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2em;
    margin: 0 auto;
    margin-top: 5em;
}
h1
{
    font-size: 3em;
    text-align:center;
}
h2
{
    font-style: italic;
    font-size: 2em;
}
p
{
    font-size: 16px;;
}