// _colors.scss
$color-text: #fff;
$color-text-hover: gainsboro;
$color-back: #22c1c3;
$color-back-hover: #fdbb2d;

// Gradientes
$gradient-header-footer: linear-gradient(to right, $color-back, $color-back-hover);