// _menu.scss
@use 'colors';
@use 'mixin';

nav {
    flex-grow: 1;
    margin-top: 0;
    font-family: 'Arial, sans-serif';
    

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  ul.menu
  {
    @include mixin.header-footer;
  }

  ul.submenu {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: hidden;
    opacity: 0;
    display: none;
    
  
    li.menu 
    {
      height: 32px;
      @include mixin.primary-colors(colors.$color-text, colors.$color-back);
      @include mixin.header-footer;
  
      a {
        @include mixin.primary-colors(colors.$color-text, colors.$color-back);
        text-decoration: none;
        padding: 0.5rem 1rem;
        display: block;
        text-align: center;
        cursor: pointer;
  
        &:hover {
          @include mixin.primary-colors(colors.$color-text-hover, colors.$color-back-hover);
          @include mixin.animation(iluminar, 0.5s);
        }
      }
    }
  }

  ul.submenu li 
  {
    opacity: 0;
    padding: 0.5em;
  }

  li.categoria:hover ul.submenu
  {
    opacity: 1;
    display: flex;
  }

  li.categoria:hover ul.submenu li {
    opacity: 0; /* Inicialmente invisible */
    transform: translateY(-10px); /* Inicialmente desplazado */
    background-color: aquamarine;
  }

  li.categoria:hover ul.submenu li:nth-child(1)
  {
    animation: aparecer 1s ease-out forwards; /* Aplica la animación */
  }

  li.categoria:hover ul.submenu li:nth-child(2)
  {
    animation: aparecer 3s ease-out forwards; /* Aplica la animación */
  }

  li.categoria:hover ul.submenu li:nth-child(3)
  {
    animation: aparecer 5s ease-out forwards; /* Aplica la animación */
  }

  li.categoria:hover ul.submenu li:nth-child(4)
  {
    animation: aparecer 7s ease-out forwards; /* Aplica la animación */
  }



  li.categoria {
    @include mixin.transition(padding, 0.4s, ease-out);

    &:hover {
      padding: 0.7rem 2rem;

      ul.submenu {
        height: auto;
        border-bottom: 2px solid colors.$color-back;
        border-radius: 5px;
        @include mixin.transition(height, 0.5s, ease-out);
      }
    }
  }



// Keyframes
@keyframes iluminar {
  from {
    color: colors.$color-text;
    background-color: colors.$color-back;
  }
  to {
    color: colors.$color-text-hover;
    background-color: colors.$color-back-hover;
  }
}

@keyframes aparecer {
    from {
      opacity: 0;
      transform: translateY(-10px); /* Inicia desplazado hacia arriba */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Posición final */
    }
  }
}
