// _mixin.scss
@use 'colors';

@mixin header-footer {
  color: colors.$color-text;
  background: colors.$gradient-header-footer;
}

@mixin enlaces-hover {
  text-decoration: none;
  color: colors.$color-text;

  &:hover {
    color: colors.$color-text-hover;
  }
}

@mixin sombra-texto($ejeX, $ejeY, $ejeZ, $color) {
  text-shadow: $ejeX $ejeY $ejeZ $color;
}

@mixin primary-colors($color, $background) {
  color: $color;
  background-color: $background;
}

@mixin transition($propiedad, $duracion, $timing: linear) {
  transition: $propiedad $duracion $timing;
}

@mixin animation($nombre, $duracion, $timing: linear) {
  animation: $nombre $duracion $timing;
}
