/*Logo*/
#logo
{
	display: flex;
}
#logo h1
{
	padding-top: 1em;
	padding-left: 1em;
}
#logoimg
{
	width: 15%;
	height: 15%;
}
/*Título de la página*/
header,footer
{
	background-color:crimson;
}
/*nav*/
header h1 
{
	color: white;
	font-style: italic;
	font-family: 'Creepster', cursive;
	text-shadow: 1px 1px black;
}
nav
{
	text-align: right;
	padding-bottom: 1.5em;
}
nav p,footer p
{
	display: inline;
	padding: 1.5em;
	color: white;
	font-family: 'Satisfy', cursive;
	text-shadow: 1px 1px black;
}
nav p 
{
	font-size: 20pt;
}
a:link
{
	text-decoration: none;
	color: white;
}
a:visited 
{
 color: White;
}
/*Formulario*/
main
{
	background-color: coral;
	font-family: 'La Belle Aurore', cursive;
}
div.col-xxl-12,div.col-xxl-6
{
	padding-bottom: 1em;
	padding-right: 2em;
	padding-left: 2em;
	font-size: 20pt;
}

div h1
{
	padding: 1em;
	font-weight: bolder;
}
div label
{
	font-weight: bold;
}
/*pie de página*/
footer
{
		text-align: center;
		padding-bottom: 1em;
		padding-top: 1em;
}
html
{
	background-color:black;
}
#resumen,#desc
{
	padding: 1em;
}