*
{
    padding-left: 1em;
    padding-right: 1em;
}
nav
{
    background-color: #3e87f4;
    border: 1px solid black;
    text-align: center;
}
nav p
{
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
}
p
{
    font-size: large;
}
a
{
    color: white;
    text-decoration: none
}
table
{
    padding: 0%;
    margin-top: 1em;
    margin-left: 5em;
}
table,tr,th,td
{
    border: 1px solid black;
}
select,input
{
    margin: 0.5em;
};