ul {
	list-style-type: none;
}


a:link, a:active, a:visited {
	background-color: #8A2BE2;
	border: 5px solid red; 
	color: #DAA520;
	text-decoration: none;
	
}
li {
	display:inline; 
	
	padding:20px;
}