header
{
	background-color: #2f3d50;
	color: White;
	padding-top: 2em;
	padding-bottom: 2em;
}

header h1
{
	display: inline;
}

nav
{
	float: right;
	background-color: #bc402e;
	margin: 2em;
	margin-right: 1.5em;
	margin-top: 1.5em;
	padding: 1em;
}

nav p
{
	display: inline;
	padding: 1em;
}