header
{
	text-align: center;
	background-color: yellow;
	border: 2px dashed black;
}
/*divs*/
div#underhead
{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
div#underhead a 
{
	text-align: center;
	background-color: yellow;
	border: 2px dashed black;
	padding-bottom: 2em;
}
div#center
{
	display: grid;
	grid-template-columns: 1fr;
}
div#center a
{
	text-align: center;
	background-color: yellow;
	border: 2px dashed black;
	padding-bottom: 2em;
}
div#centerdown
{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}
div#centerdown a
{
	text-align: center;
	background-color: yellow;
	border: 2px dashed black;
	padding-bottom: 2em;
}
div#centerdown div
{
	background-color: yellow;
	border-bottom: 2px dashed black;
	border-left: 2px dashed black;
}
div#container
{
	padding: 1em;
}
div#linkcontainer
{
	display: grid;
	grid-template-columns: 1fr;
}
/*header*/
footer
{
	text-align: center;
	background-color: yellow;
	border: 2px dashed black;
	padding-bottom: 2em;
}
