div.col-md-6,div.col-md-5,div.col-md-3
{
	text-align: center;
	background-color: yellow;
	border: 2px dashed black;
	padding-bottom: 2em;
}
div.col-md-12
{
	text-align: center;
	background-color: yellow;
	border: 2px dashed black;
	padding-bottom: 2em;
}