body  {
	background-color:	#b5a789;
	font-family:		Georgia, "Times New Roman", Times, serif;
	font-size:			small;
	margin:				0px;
}

#header {
	background-color:	#675c47;
	margin:				10px;
	height:				108px;
}

#main {
	background:	#efe5d0 url(images/background.gif) top left;
	font-size:	105%;
	padding:	15px;
	margin:		0px 330px 10px 10px;
}

#sidebar {
	background:	#efe5d0 url(images/background.gif) bottom right;
	font-size:	105%;
	padding:	15px;
	margin:		0px 10px 10px 470px;
	position: absolute;
	top: 128px;
	right: 0px;
	width: 280px;
}

#footer {
	background:	#675c47;
	color:		#efe5d0;
	text-align:	center;
	padding:	15px;
	margin:		10px;
	font-size:	90%;
}

h1 {
	font-size:	120%;
	color:		#954b4b;
}

.slogan {
	color:	#954b4b;
}

.beanheading {
	text-align:		center;
	line-height:	1.8em;
}

a:link {
	color:				#b76666;
	text-decoration:	none;
	border-bottom:		thin dotted #b76666;
}

a:visited {
	color:				#675c47;
	text-decoration:	none;
	border-bottom:		thin dotted @675c47;
}
#allcontent {
	width: 800px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #675c47;
	margin-left: auto;
	margin-right: auto;
}