.container
{
    display: grid;
    grid-template-rows: repeat(3,30px 50px);
    grid-template-columns: repeat(6,minmax(40px,150px));
    gap: 5px;
    margin-top: 10px;
    margin-left: 10px;
}
.container div
{
    border: 1px solid black;
   
}