.container
{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 4fr 4fr 4fr 0.5fr;
}
.item
{
    border: 1px solid black;
}
.header
{
    grid-row: 1;
    grid-column: 1/3;
}
.article1
{
    grid-row: 2;
    grid-column: 1;
}
.article2
{
    grid-row: 3;
    grid-column: 1;
}
.article3
{
    grid-row: 4;
    grid-column: 1;
}
.footer
{
    grid-row: 5;
    grid-column: 1/3;
}
.aside
{
    grid-row: 2/5;
    grid-column: 2;
}
