@font-face {
    font-family: 'omnes';
    src: url('/font/Omnes.otf');
}
body
{
    font-family: omnes;
}
header
{
    background-color: #ab273d;
}
nav
{
    text-align: center;
    padding-top: 4em;
    justify-content: unset;
    margin-bottom: 5em;
}
nav div
{
    display: inline;
}
nav p
{
    display: inline;
    color: white;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 1%;
}
nav p a 
{
    text-decoration: none;
    color: white;
}
#selected
{
    background-color: white;
    border: white 1px solid;
    border-radius: 0.5em 0.5em 0px 0px;
    color: #ab273d;
    padding-bottom: 2%;
}
#selected a
{
    color: #ab273d;
}
nav p:hover
{
    background-color: #7d2136;
    border: #7d2136 1px solid;
    border-radius: 0.5em 0.5em 0px 0px;
    color: white;
}
nav p a:hover
{
    color: white;
}
nav img
{
    width: 6em;
    height: 8em;
}

.contenedor-div{
    position:relative;
}
#logo
{
    left: 78px;
   position:absolute;
   top: -65px;
}
main p
{
    margin-left: 5em;
    margin-right: 5em;
}
#imagenes
{
    text-align: center;
    padding: 1em;
}
#imagenes img
{
    margin: 2em;
    border-radius: 1em;
}
#video
{
    text-align: center;
}
video
{

    width:100%;
}
#redes
{
    text-align: center;
    padding : 3em;
    padding-bottom: 0em;
}
#redes img
{
    height: 2em;
    width: 2em;
    margin: 2em;
}
footer
{
    padding: 1em;
    background-color: #ab273d;
    color: white;
    bottom: 0;
}
#menu
{
    display: none;
}
#menu p
{
    padding: 0em;
    color: white;
}
.icon
{
    display: none;
}
div p a
{
    text-decoration: none;
    color: white;
}
div p a:hover
{
    color: white;
}
#trab
{
    display: none;
    background: none;
}
#trab:hover
{
    background-color: white;
}
#trab p a
{
    background-color: white;
    color: #ab273d;
}
#trab p a:hover
{
    color: white;
    background-color: #ab273d;
}
#trabajos
{
    background-color: #7d2136;
}
#trabajos a
{
    padding: 0em;
    padding-top: 1em;
}
.col-sm-1 a.icon
{
    background: black;
    display: block;
    position: absolute;
}
#trabajos
{
    display: none;
}
a
{
    color: white;
    text-decoration: none;
}
a:hover
{
    color: white;
}
@media screen and (min-width: 768px)
{
    #menu p
    {
        display: none;
    }
}
@media screen and (max-width: 768px)
{
    nav p
    {
        display: none;
    }
    #logo
    {
        text-align: center;
        src: "img/Otros/LogoMovil.png";
    }
    .icon
    {
        display: block;
    }
    #logo
    {
        left: auto;
    }
}


