#imagenes img
{
    width: 250px;
    height: 250px;
}
#carr
{
    width: 500px;
    height: 1000px;
    padding: 2em;
}
p
{
    padding: 2em;
}
h1
{
    color: red;
    font-weight: bold;
}