/*Logo*/
#logo
{
	display: flex;
}
#logo h1
{
	padding-top: 1em;
	padding-left: 1em;
}
#logoimg
{
	width: 15%;
	height: 15%;
}
/*Título de la página*/
header,footer
{
	background-color:crimson;
}
/*nav*/
header h1 
{
	color: white;
	font-style: italic;
	font-family: 'Creepster', cursive;
	text-shadow: 1px 1px black;
}
nav
{
	text-align: right;
	padding-bottom: 1.5em;
}
nav p 
{
	font-size: 20pt;
}
nav p,footer p
{
	display: inline;
	padding: 1.5em;
	color: white;
	font-family: 'Satisfy', cursive;
	text-shadow: 1px 1px black;
}
a:link
{
	text-decoration: none;
	color: white;
}
a:visited 
{
 color: White;
}
/*receta en detalle*/
main
{
	background-color: coral;
	font-family: 'La Belle Aurore', cursive;
}
main h1
{
	padding: 1em;
	font-weight: bolder;
}
.imgtext
{
	padding-top: 1em;
	padding-right: 1.5em;
	float: left;
}
div.col-sm-6,div.col-sm-5
{
	margin-left: 2em;
	margin-bottom: 1em;
}
div.col-sm-5 p 
{
	padding-left: 6em;
}
div h1
{
	padding-left: 0em;
}
div p 
{
	font-size: 20pt;
}
li
{
	font-size: 20pt;
}
/*pie de página*/
footer
{
		text-align: center;
		padding-bottom: 1em;
		padding-top: 1em;
}
html
{
	background-color:black;
}