/*Logo*/
#logo
{
	display: flex;
}
#logo h1
{
	padding-top: 1em;
	padding-left: 1em;
}
#logoimg
{
	width: 15%;
	height: 15%;
}
/*Título de la página*/
header,footer
{
	background-color:crimson;
}
/*nav*/
header h1 
{
	color: white;
	font-style: italic;
	font-family: 'Creepster', cursive;
	text-shadow: 1px 1px black;
}
nav
{
	text-align: right;
	padding-bottom: 1.5em;
}
nav p,footer p
{
	display: inline;
	padding: 1.5em;
	color: white;
	font-family: 'Satisfy', cursive;
	text-shadow: 1px 1px black;
}
nav p 
{
	font-size: 20pt;
}
a:link
{
	text-decoration: none;
	color: white;
}
a:visited 
{
 color: White;
}
/*Barar de búsqueda*/
#seachbar
{
	text-align: center;
	padding: 0.5em;
}
#seachbar input
{
	margin-left: 0.5em;
	font-family: 'La Belle Aurore', cursive;
}
/*sección de recetas de la semana*/
main
{
	background-color: coral;
	font-family: 'La Belle Aurore', cursive;
}
main h1,main h2
{
	padding-bottom: 1em;
	font-weight: bolder;
}
h1
{
	padding-left: 0.9em;
}
#buscar
{
	margin-left: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
#buscar:hover 
{
  background-color: Lightgray;
}
.imgtext
{
	padding-top: 1em;
	padding-right: 1.5em;
	margin-bottom: 5em;
	width:45%; 
	height:45%;
	float: left;
}
div.col-sm-6,div.col-sm-5
{
	margin-left: 2em;
	margin-bottom: 1em;
}
.recipetext
{

	font-size: 15pt;
	padding-top: 1em;
}
.recipetext:last-child
{
	margin-bottom: 5em;
}
/*pie de página*/
footer
{
	padding-top: 1em;
	text-align: center;
	padding-bottom: 1em;
}
html
{
	background-color:black;
}
button,select
{
	margin: 0.5em;
}
#ocultar
{
	display: none;
}
#filtrado
{
	font-weight: bold;
	display: none;
}
*
{
	font-size: 20pt;
}
.col-xxl-6
{
	margin-top: 1em;
	margin-bottom: 1em;
}