.cards-container
{
    display: flex;
    align-items: stretch;
    gap: 1rem;
    flex-wrap: wrap
}
.card
{
    box-sizing: border-box;
    padding: 0%;
    display: flex;
    min-width: 10rem;
    max-width: 15rem;
    background-color: #eee;
    border-radius: 10px;
    margin: 0.5rem;
    flex-direction: column;
    flex-grow: 1;
}
.card-img-top
{
    max-width: 100%;
    height: auto;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.card-body
{
    flex: 1;
    display: flex;
    padding: 0.5rem;
}
.card-footer
{
    padding: 0.5rem;
}
.card-title
{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-align: center;
}
.btn
{
    background-color: rgba(90, 190, 90, 80%);
    border-color: rgb(90, 190, 90);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bolder;
    width: 100%;
}